# IDE/Build
.gradle
.idea
.settings
build
bin
target
.classpath
.project

# Terraform files
**/.terraform
**/.terraform.lock.hcl
**/.terraform.tfstate.lock.info
**/terraform.tfstate
**/terraform.tfstate.backup

# OS
**/.DS_Store
